.settings {
  display: flex;
  flex-direction: column;
  gap: var(--gap-small);
  position: absolute;
  top: 2rem;
  right: 2rem;
}
.settings svg {
  display: block;
}
.settings > section, .settingsZoom > section {
  padding: var(--padding-small);
  background-color: var(--background-color);
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  backdrop-filter: blur(var(--blur));
  z-index: var(--z-index);
  cursor: pointer;
  transition: background-color var(--transition-duration) var(--transition-timing);
}

.settingsZoom > section {
  padding: var(--padding-small);
}

.settingsZoom > section:first-child {
  border-radius: var(--border-radius) var(--border-radius) 0 0;
}

.settingsZoom > section:last-child {
  border-top: var(--secondary) 1px solid;
  border-radius: 0 0 var(--border-radius) var(--border-radius);
}

.settings > section:hover, .settingsZoom > section:hover {
  background-color: var(--accent);
  border: 1px solid var(--accent-border);
}