.tooltip {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: var(--gap-large);
  bottom: 6rem;
  left: 2rem;
  padding: var(--padding-large);
  background-color: var(--background-color);
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  backdrop-filter: blur(var(--blur));
  color: white;
  z-index: var(--z-index);
  transition: opacity var(--transition-duration) var(--transition-timing);
  width: 22rem;
}

.tooltipSubtitle {
  display: flex;
  align-items: center;
  gap: var(--gap-small);
}

.tooltipSubtitle h3 {
  font-weight: normal;
}

.tooltipNextArrow, .tooltipPrevArrow {
  cursor: pointer;
  transition: var(--transition-duration) var(--transition-timing);
}

.tooltipPrevArrow:hover {
  transform: translateX(-6px);
}

.tooltipNextArrow:hover {
  transform: translateX(6px);
}